body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.page-content {
  font-size: 16px;
  line-height: 1.6;
}

.page-content h1,
.page-content h2 {
  margin-top: 20px;
  font-weight: bold;
}

.page-content p {
  margin: 10px 0;
}

.page-content ul {
  padding-left: 20px;
}

.two-col-editor {
  display: flex;

  gap: 20px;

  width: 100%;

  margin-top: 10px;

  margin-bottom: 10px;
}

.two-col-left {
  width: 35%;

  min-height: 80px;

  padding: 5px;
}

.two-col-right {
  width: 65%;

  min-height: 80px;

  padding: 5px;
}
